.App {
  font-family: sans-serif;
  text-align: center;
}

.startBtn,
.stopBtn,
.resetBtn {
  background-color: rgb(9, 113, 241);
  color: white;
  margin-right: 8px;
  border-radius: 4px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-color: transparent;
  font-weight: 800;
  margin-bottom: 8px;
  margin-top: 8px;
}

#root {
  text-align: center;
  background-color: lightgray;
}

.pokemonCard {
  font-weight: 800;
  height: 10%;
  width: 40%;
  background-color: lightgoldenrodyellow;
  margin: auto;
  border-radius: 8px;
  border: 1px solid rgb(9, 113, 241);
}
